<<<<<<< HEAD
/* CSS for Locations and Amenities filters */

.filters {
    background-color: white;
=======
.filters {
    color: white;
>>>>>>> 3d8db67b07f4934ac52b6b40fdbcb925bef2c159
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
<<<<<<< HEAD
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
}

.filters button {
    font-size: 18px;
    background-color: #ff5a5f;
    color: #ffffff;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    opacity: 1;
    transition: opacity 0.3s;
}

.filters button:hover {
    opacity: 0.9;
}

.filters .locations,
.filters .amenities {   
    height: 100%;
    width: 25%;
    display: inline-block;
    vertical-align: top; /* Adjust vertical alignment */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.filters .locations {
    border-right: 1px solid #DDDDDD;
    padding-right: 10px; /* Add some right padding to separate text from border */
}

.filters .locations h3,
.filters .amenities h3 {
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 5px;
    text-align: center;
}

.filters .locations h4,
.filters .amenities h4 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 12px;
    cursor: pointer;
    text-align: center;
}
.popover {
    display: none;
    background-color: #fafafa;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    border-radius: 4px;
    position: absolute;
    top: 100%;
    /* z-index: 1; */
    margin-top: 0%;
    list-style: none;
}
.popover h2 {
    font-size: 16px;
    margin: 0;
}
.popover ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.locations ul ul {
    padding-left: 20px;
}
.popover li {
    padding: 4px;
    border-bottom: 1px solid #DDDDDD;
}
.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}
=======
    display: flex;
    align-items: center;
    padding-right: 30px;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    margin-left: auto;
}

button:hover {
    background-color: #FF5A5FE6;
}

.filters div {
    height: 100%;
    width: 25%;
    color: black;
}

h3 {
    font-weight: 600;
    margin-bottom: 0;
}

h3, h4 {
    margin-left: 20%;
}

h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0;
}

.locations {
    border-right: 1px solid #DDDDDD;
}

.popover {
    visibility: hidden;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    padding: 5% 20%;
}

.popover h2 {
    font-size: 16px;
    margin-bottom: 0;
    padding-bottom: 0;
}

ul {
    padding-top: 0;
    list-style-type: none;
}

.locations:hover > .popover, .amenitties:hover > .popover {
    visibility: visible;
    background-color: #fafafa;
    opacity: 0.9;
}
>>>>>>> 3d8db67b07f4934ac52b6b40fdbcb925bef2c159
